<div class="container">

    <p>
        <a routerLink="/">Home</a>
        <a routerLink="/users">Users</a>
    
    </p>
    
    <router-outlet></router-outlet>

    <button pButton type="button" label="Click"></button>
    <p-button label="Click"></p-button>


<app-dynamic-form></app-dynamic-form>
</div>
<div>
<p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
</div>

<div>

    <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="toolbar">
            <div>Upload 3 Files</div>
        </ng-template>
        <ng-template let-file pTemplate="file">
            <div>Custom UI to display a file</div>
        </ng-template>
        <ng-template pTemplate="content">
            <div>Custom UI to manage uploaded files</div>
        </ng-template>
    </p-fileUpload>
</div>
